# 점프 투 파이썬 

출처 : https://wikidocs.net/12

In [66]:
import platform
platform.python_version()

'3.9.7'

In [1]:
a = 4.24e-10 # = 4.24 * 10^(-10)

4.24e-10

### 8진수 & 16진수
Octal 8진수 숫자를 만들기 위해서는 숫자 0, 알파벳 o 또는 O 로 시작하면 된다.
예시) 0o177

Hexadecimal 16진수 숫자를 만들려면 숫자 0, 알파벳 x 로 시작한다. 예시) 0x8ff

In [3]:
eight = 0o177
print(eight)
sixteen = 0x8ff
print(sixteen)
sixteen2 = 0xABC
print(sixteen2)

127
2303
2748

In [4]:
a = 3
b = 2
a ** b

9

In [5]:
9 % 2

1

In [6]:
7 / 3

2.3333333333333335

In [7]:
7 // 3

2

In [23]:
a = "Hello, I'm Hyun Joo" # No error
# b = 'Hello, I'm Hyun Joo' # 에러
print(len(a))

# 0 = -0
print(a[-0])

b = a[0] + a[1] + a[2] + a[4]
print(b)

print(a[16:19])

print(a[5:-3])

# c = 0<=a<3
# print(c) 에러 발생

a * 3

19
H
Helo
Joo
, I'm Hyun

"Hello, I'm Hyun JooHello, I'm Hyun JooHello, I'm Hyun Joo"

In [10]:
b = 'Amy said, "No, you should not come with me"'
print(b)
c = "Graig said, \"What an amazing unbelievable exprience !\""
print(c)

Amy said, "No, you should not come with me"
Graig said, "What an amazing unbelievable exprience !"

In [12]:
d = '''
The baby whispered to his mom, 
"Mommy, please sing me a lullaby".
Then the mother started singing 
for the baby...
'''
print(d)
d

The baby whispered to his mom,
"Mommy, please sing me a lullaby".
Then the mother started singing
for the baby...

'\nThe baby whispered to his mom, \n"Mommy, please sing me a lullaby".\nThen the mother started singing \nfor the baby...\n'

## 이스케이프 코드

- \n : 문자열 안에서 줄바꿈 ***
- \t : 문자열 안에서 tab 탭 간격 부여 ***
- \\ : 백슬래쉬를 그대로 사용 ***
- \' : ' 작은 따옴표를 그대로 사용 ***
- \" : " 큰따옴표를 그대로 사용 ***
- \r : 캐리지 리턴? 줄 바꿈 문자, 현재 커서를 가장 앞으로 이동
- \f : 폼 피드, 줄 바꿈 문자, 현재 커서를 다음 줄로 이동
- \a : 벨 소리, 출력할 때 PC에서 '삑' 소리가 난다.
- \b : 백 스페이스
- \000 : 널 문자

## 문자열 포맷 코드

- %s : 문자열 string
- %c : 문자 1개 character
- %d : 정수
- %f : 부동소수 floating-point
- %o : 8진수
- %x : 16진수
- %% : 문자 % 자체, literally %

In [27]:
a = 'abCde'

print(a[2])
# a[2] = 'c' # 슬라이싱을 먼저 해야만 하기에, 에러가 발생한다. 
# replace 함수를 사용해야할 것

b = 'ABcDE'
b[:2] + 'C' + b[3:]

C

'ABCDE'

In [28]:
"I have %d apples in my fridge, but I don't eat them."%20

"I have 20 apples in my fridge, but I don't eat them."

In [30]:
"I have %s apples in my fridge, but I don't eat them."%"twenty"

"I have twenty apples in my fridge, but I don't eat them."

In [31]:
no = 3
"I'd like to eat %d pieces of cake!"%no

"I'd like to eat 3 pieces of cake!"

In [32]:
"Hello, there. We had a splendid day yesterday, chilled on the %s and drank %d glasses of white wine."%("sofa",no)

'Hello, there. We had a splendid day yesterday, chilled on the sofa and drank 3 glasses of white wine.'

In [33]:
"I wanted to eat a %d chocolate but mom said no."%2.5

'I wanted to eat a 2 chocolate but mom said no.'

In [34]:
"I wanted to eat a %s chocolate but mom said no."%2.5

'I wanted to eat a 2.5 chocolate but mom said no.'

In [43]:
"Yes %50s"%"Great fun we had that day!" # 오른쪽 정렬 기준 50 칸...

'Yes                         Great fun we had that day!'

In [42]:
"%20.3f"%1354003.1145687

'         1354003.115'

In [46]:
"%-10sJane"%"Hi" # % 뒤에 - 숫자는 왼쪽정렬

'Hi        Jane'

## format 함수

In [47]:
"I tried to eat {} but it did not taste nice.".format("books")

'I tried to eat books but it did not taste nice.'

In [52]:
"The {number} days that I missed school was when I was {condition}".format(number = 3, condition ='sick')

'The 3 days that I missed school was when I was sick'

In [61]:
print("{0:<30}".format("hello thee") )
print("{0:^30}".format("hello thee") )
print("{0:>30}".format("hello thee") )
print("{0:!^30}".format("hello thee") )
# print("{0:ab^30}".format("hello thee") ) 에러 발생
 
print("""
:<30 문자열 왼쪽 정렬, 문자열 총 자릿수 30 \n
:^30 가운데 정렬 \n
:>30 오른쪽 정렬 \n
:!^30 해당 문자로 공백 채우기 """)

hello thee
          hello thee
                    hello thee
!!!!!!!!!!hello thee!!!!!!!!!!

:<30 문자열 왼쪽 정렬, 문자열 총 자릿수 30

:^30 가운데 정렬

:>30 오른쪽 정렬

:!^30 해당 문자로 공백 채우기

In [63]:
y = 5.1647983
"{0:15.3f}".format(y) 

# 총 15 칸, 오른쪽 정렬, 소숫칸 3자리

'          5.165'

In [72]:
a = 'apple'
b = 'banana'
f"나는 {a} 과 {b}를 좋아해요. {a+b} 스무디도 좋아하구요."

'나는 apple 과 banana를 좋아해요. applebanana 스무디도 좋아하구요.'

In [76]:
dictionary = {'도': '경기도', '시': '안양시', '구' : '만안구'}
f"그 집은 {dictionary['도']}, {dictionary['시'], dictionary['구']} 에 위치해있어!"

"그 집은 경기도, ('안양시', '만안구') 에 위치해있어!"

In [80]:
f'{{}}'

'{}'

## .count( " " )

In [83]:
horray = 'abababc'
print(horray.count('ab'))
a = 'hobbbbby'
a.count('b')

3

5

## .find( " " ) & .index( " " ) 
## 해당 문자가 처음으로 나온 위치를 반환

In [85]:
c = []
c = horray.find('ab')
c

0

In [86]:
horray.find('abc')

4

In [87]:
horray.find('d') # -1 은 없다는 뜻이다.

-1

In [89]:
horray.index('c')

6

In [90]:
horray.index('d') # 없으면 에러가 반환된다

ValueError: substring not found

## .join( " " ) 으로 문자열 삽입

In [91]:
",".join(horray)

'a,b,a,b,a,b,c'

In [92]:
" ".join(horray)

'a b a b a b c'

In [93]:
"=".join(['hollow','mam','goes','where'])

'hollow=mam=goes=where'

## a.upper() , a.lower()

In [95]:
a = ['a','b','c']
# a.upper() 에러 - 'list' object has no attribute 'upper'

print(horray.upper())

ABABABC

In [98]:
c = 'GOingBackHome'
c.lower()

'goingbackhome'

## lstrip(), rstrip(), strip() 왼쪽, 오른쪽, 양쪽 공백 삭제

In [101]:
b = '   ambient   '

print(b.rstrip())
print(b.strip())
b.lstrip()

   ambient
ambient

'ambient   '

## .replace( 바뀌게 될 문자열, 바꿀 문자열 ) 문자열 바꾸기

In [102]:
a = "Hello I am happy to meet you!!!"
a.replace("happy", 'glad and excited')

'Hello I am glad and excited to meet you!!!'

## .split()

In [103]:
a.split() # 띄어쓰기로 나누어 분리!

['Hello', 'I', 'am', 'happy', 'to', 'meet', 'you!!!']

In [104]:
a.split("o") # 알파벳 o 를 기준으로 분리

['Hell', ' I am happy t', ' meet y', 'u!!!']

# 리스트 
### 문자열, 리스트 모두 슬라이싱 가능 [ : ]

In [105]:
# 빈 리스트 생성
a = list()
a

[]

In [106]:
a = []
a

[]

In [113]:
ae = [1,2,["holly", "molly", ["ace", "is", "A"]]]
ae

[1, 2, ['holly', 'molly', ['ace', 'is', 'A']]]

In [108]:
ae[0] + ae[1]

3

In [110]:
ae[0] + ae[1] + ae[2] # 에러 반환 unsupported operand type(s) for +: 'int' and 'list'

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [112]:
ae[-1][1]

'molly'

In [115]:
ae[2][-1]

['ace', 'is', 'A']

In [116]:
ae[-1][2][0]

'ace'

In [117]:
b = ['BBB', 'bbb', 'c']
ae + b

[1, 2, ['holly', 'molly', ['ace', 'is', 'A']], 'BBB', 'bbb', 'c']

In [118]:
b * 2

['BBB', 'bbb', 'c', 'BBB', 'bbb', 'c']

## 중첩된 리스트 슬라이싱

In [121]:
ae[2][:1]

['holly']

In [122]:
ae[-1][1:]

['molly', ['ace', 'is', 'A']]

In [124]:
ae[-1][2][1:]

['is', 'A']

In [126]:
ae[2][:][:1]

['holly']

In [119]:
len(b)

3

## 리스트 내용 + 새 문자 출력

In [130]:
str(ae[2][-1][-3]) + 'hi'

'acehi'

## 리스트 내 값 수정

In [131]:
ae[0] = "my"
ae

['my', 2, ['holly', 'molly', ['ace', 'is', 'A']]]

## del 객체 (= 파이썬의 모든 자료형) 함수로 리스트 요소 삭제

In [132]:
del ae[1]
ae

['my', ['holly', 'molly', ['ace', 'is', 'A']]]

In [134]:
a = [1,2,3,4,5,6,7,8]
del a[3:] # 슬라이싱 기법으로 요소들을 한꺼번에 삭제
a

[1, 2, 3]

In [138]:
e = [1,2]
e.append([a,b,c,d]) # a, b, c, d 에 저장된 모든 리스트들이 더해짐
print(e)

[1, 2, [[1, 2, 3, [[...], ['BBB', 'bbb', 'c'], 'GOingBackHome', '\nThe baby whispered to his mom, \n"Mommy, please sing me a lullaby".\nThen the mother started singing \nfor the baby...\n'], [[...], ['BBB', 'bbb', 'c'], 'GOingBackHome', '\nThe baby whispered to his mom, \n"Mommy, please sing me a lullaby".\nThen the mother started singing \nfor the baby...\n'], [[...], ['BBB', 'bbb', 'c'], 'GOingBackHome', '\nThe baby whispered to his mom, \n"Mommy, please sing me a lullaby".\nThen the mother started singing \nfor the baby...\n']], ['BBB', 'bbb', 'c'], 'GOingBackHome', '\nThe baby whispered to his mom, \n"Mommy, please sing me a lullaby".\nThen the mother started singing \nfor the baby...\n']]

In [140]:
f = [1,2]
f.append([z,y,g]) # z,y,g 가 이미 선언되지 않은 변수여서 에러
f

NameError: name 'z' is not defined

In [141]:
f = [1,2]
f.append([1,2,3,4]) # z,y,g 가 이미 선언되지 않은 변수여서 에러
f

[1, 2, [1, 2, 3, 4]]

In [142]:
f.append(['a','c','e'])
f

[1, 2, [1, 2, 3, 4], ['a', 'c', 'e']]

In [143]:
f.append('a','c','e') # 에러 - list.append() takes exactly one argument (3 given)
f

TypeError: list.append() takes exactly one argument (3 given)

In [144]:
f.append('a') # list.append() takes exactly one argument (3 given)
f

[1, 2, [1, 2, 3, 4], ['a', 'c', 'e'], 'a']

## .sort() 알파벳 또는 정수끼리 정렬이 가능하다.

In [147]:
f.sort() # 에러 '<' not supported between instances of 'list' and 'int'
# 타 리스트와 정수는 정렬이 불가능하다.

TypeError: '<' not supported between instances of 'list' and 'int'

In [152]:
h = ['g','adf',5,'ary',7,'qe','h',1,'adq',0,'e','u','h','f','j','c']
h.sort()
h
# TypeError: '<' not supported between instances of 'int' and 'str'

TypeError: '<' not supported between instances of 'int' and 'str'

In [149]:
h = [8,6,5,2,4,3,1,5,2,4,8]
h.sort()
h

[1, 2, 2, 3, 4, 4, 5, 5, 6, 8, 8]

In [151]:
h = ['g','adf','ary','qe','h','adq','e','u','h','f','j','c']
h.sort()
h

['adf', 'adq', 'ary', 'c', 'e', 'f', 'g', 'h', 'h', 'j', 'qe', 'u']

## .reverse( )

In [153]:
h.reverse()
h

['c', 'j', 'f', 'h', 'u', 'e', 0, 'adq', 1, 'h', 'qe', 7, 'ary', 5, 'adf', 'g']

## .index( 문자열/숫자 ) 위치 반환

In [154]:
h.index('adf') # 존재하지 않으면 에러 반환

14

## .insert( insert 삽입할 내용 )

In [155]:
h.insert (0, 'abcdefg') # 0번째 인덱스에 'abcdefg' 를 추가
h

## .remove( x ) 첫 번째로 나오는 x 를 삭제한다.

list.remove() takes exactly one argument

In [159]:
h.remove('c')
h.remove('j')
h.remove('f')
h.remove('h')
h.remove('e')
h

['abcdefg', 'u', 0, 'adq', 1, 'h', 'qe', 7, 'ary', 5, 'adf', 'g']

## .pop() 리스트 요소 끄집어내기 
- 맨 마지막 요소를 반환하고, 그 요소는 삭제된다. 
- 인수로 특정 인덱스를 지정시, 그 인덱스의 요소를 반환 후 삭제한다.

In [160]:
h.pop()
h.pop()

'adf'

In [161]:
h.pop()

5

In [162]:
h

['abcdefg', 'u', 0, 'adq', 1, 'h', 'qe', 7, 'ary']

In [163]:
print(h.pop(0))
h

abcdefg

['u', 0, 'adq', 1, 'h', 'qe', 7, 'ary']

In [166]:
h.insert(0,'u')
h.insert(0,'u')

## .count(x) 리스트에 포함된 x 의 갯수 세기

In [167]:
h.count('u')

4

In [168]:
h

['u', 'u', 'u', 'u', 0, 'adq', 1, 'h', 'qe', 7, 'ary']

## 리스트 확장 .extend(x) 
x 는 리스트만 올 수 있다.

In [169]:
b = [1,2,3]
b.extend(h)

In [170]:
b

[1, 2, 3, 'u', 'u', 'u', 'u', 0, 'adq', 1, 'h', 'qe', 7, 'ary']

In [171]:
a = ['a','b','c']
a.extend([4,5]) # a += [4,5]

In [172]:
a

['a', 'b', 'c', 4, 5]

# 튜플 Tuples
튜플의 형태는 아래와 같다. 리스트와 비슷하지만,
- 1개의 요소를 가질 시에는 반드시 콤마 , 를 뒤에 붙여야 하며
- 1개 이상의 요소를 가질 시에는 괄호를 생략해도 된다는 것이다. 
- 또한, 튜플은 값을 변화시킬 수 없다.

In [173]:
t1 = ()
t2 = (1,)
t3 = 1,2,3
t4 = (1,2,3,(1,2))

print(t1)
print(t2)
print(t3)
print(t4)

()
(1,)
(1, 2, 3)
(1, 2, 3, (1, 2))

## 튜플 값의 change는 불가능, 튜플 더하기와 슬라이싱은 가능
- 튜플은 요소를 지우는 행위가 지원되지 않는다. del t3[0] 실행시 에러
- 요솟값을 변경하려 해도 에러가 발생한다. t3[0] = 'a' 실행시 에러

In [174]:
t3[1:]

(2, 3)

In [175]:
t3 + t4

(1, 2, 3, 1, 2, 3, (1, 2))

In [176]:
t3 * t2 # TypeError: can't multiply sequence by non-int of type 'tuple'

TypeError: can't multiply sequence by non-int of type 'tuple'

In [177]:
t2 * 3

(1, 1, 1)

In [178]:
len(t2)

1

# 딕셔너리 Dictionary 
딕셔너리는 key 와 value 의 값으로 이루어져 있다.

In [216]:
di = {1: 'a', 2: 'b'}

### .get() 함수 또는 dictionary[ key ]

In [212]:
di.get(1)

'a'

In [217]:
di[2]

'b'

In [219]:
print(di.get(5)) # 존재하지 않는 키 => None '거짓'이라는 뜻으로 생각하면 된다.

None

In [220]:
# 만약 키가 존재하지 않을시 반환할 default 값을 주고 싶다면, 아래와 같이 하면 된다.
di.get(5, "No existing key match was found.")

'No existing key match was found.'

### in 으로 해당 key 가 존재하는지 확인

In [221]:
5 in a

False

In [222]:
1 in a

True

### di[2] 가 인덱스 2가 아닌 2번째 값으로 읽혀졌다.

In [181]:
di[2] = 'c'
di

{1: 'a', 2: 'c'}

In [184]:
# 요소 추가

di[2] = 'b'
di[3] = 'c'
di[4] = 'd'
di[5] = 'e'
di['end'] = 'z'
di['start'] = 0
di

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 'end': 'z', 'start': 0}

In [185]:
di[6] = 'change'
di

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 'end': 'z', 'start': 0, 6: 'change'}

In [191]:
di[3] = ['Herman', 'bought', 'a', 'new', 'speaker', 'like', 'a', 'copycat']

### 위와 같이, 딕셔너리에 요소를 추가하면 맨 뒤에 추가된다. 
### * 기존 key 를 사용시, 기존 값 value 변경이 가능하다. *
### Dictionary 요소 삭제는 del 함수를 사용한다.

In [187]:
del di[2]

KeyError: 2

In [188]:
del di[5]
di

{1: 'a', 3: 'c', 4: 'd', 'end': 'z', 'start': 0, 6: 'change'}

In [192]:
di

{1: 'a',
 3: ['Herman', 'bought', 'a', 'new', 'speaker', 'like', 'a', 'copycat'],
 4: 'd',
 'end': 'z',
 'start': 0,
 6: 'change'}

In [193]:
di[3]

['Herman', 'bought', 'a', 'new', 'speaker', 'like', 'a', 'copycat']

#### 아래와 같이 key 가 중복될 시에는, 먼저 값이 무시되기 때문에 같은 key 를 사용하지 않도록 유의해야 한다~~!!!

## key 값으로 list 는 사용할 수 없다!! ***
- 그러나 key 값으로 튜플은 사용할 수 있다. 
- Key 값으로 쓸 수 있는가는 Key가 변하는 값인지 아닌지에 달려 있는 것이다. 리스트는 변형이 가능하기에, key 값이 될 수 없다.

In [195]:
a = {1:'a', 1:'b', 2 : '책', 2:'도서'}
a

{1: 'b', 2: '도서'}

In [196]:
a[(1,2,3)] = 'abc'
a

{1: 'b', 2: '도서', (1, 2, 3): 'abc'}

In [199]:
a[(1,)] = 'abcdefg'
a

{1: 'b', 2: '도서', (1, 2, 3): 'abc', (1,): 'abcdefg'}

### .keys() == 키 값s / .values() == value 값s / .items() 는 key & value

In [201]:
a.keys()

dict_keys([1, 2, (1, 2, 3), (1,)])

In [203]:
key = a.keys()
key

dict_keys([1, 2, (1, 2, 3), (1,)])

In [202]:
for k in a.keys(): # 키 값을 차례대로 출력 ... 
    print(k)

1
2
(1, 2, 3)
(1,)

In [204]:
# 키 값을 리스트로 만들기
key_list = list(a.keys())
key_list

[1, 2, (1, 2, 3), (1,)]

In [205]:
a.values()

dict_values(['b', '도서', 'abc', 'abcdefg'])

In [206]:
value_list = list(a.values())
value_list

['b', '도서', 'abc', 'abcdefg']

In [207]:
a.items()

dict_items([(1, 'b'), (2, '도서'), ((1, 2, 3), 'abc'), ((1,), 'abcdefg')])

In [208]:
item_list = list(a.items())
item_list

# 변환할 수 없는 튜플 형태로 ( key 그리고 value ) 가 묶여서 리스트에 저장된다!

[(1, 'b'), (2, '도서'), ((1, 2, 3), 'abc'), ((1,), 'abcdefg')]

### . clear() 딕셔너리 내용을 모두 삭제하는 함수

In [209]:
b = {'greetings':['hi','hello','goodbye','farewell'], 'pronouns':['I','you','he','she']}
b

{'greetings': ['hi', 'hello', 'goodbye', 'farewell'],
 'pronouns': ['I', 'you', 'he', 'she']}

In [210]:
b.clear()
b

{}

# 불 자료형 a = True, b = False

In [226]:
a = True
b = False
print(type(a))
type(b) # type() takes 1 or 3 arguments

<class 'bool'>

bool

In [227]:
13 == 13

True

In [228]:
13 > 12

True

## 자료형의 참과 거짓 

값 :	참 or 거짓
- "python" 	참
- ""	 거짓
- [1, 2, 3] 	참
- [] 	거짓
- () 	거짓
- {} 	거짓
- 1 	참
- 0 	거짓
- None 	거짓
- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면(" ", [ ], ( ), { }) 거짓이 된다. 
- 당연히 비어있지 않으면 참이 된다. 
- 숫자에서는 그 값이 0일 때 거짓이 된다. 

## 자료형의 참과 거짓이 쓰이는 예시
while 조건문 : 
    수행할 문장

In [229]:
# 아주 많이 쓰이는 예시이다.

a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [230]:
if []:
   print("참")
else:
   print("거짓")

거짓

In [231]:
bool('ab')

True

In [232]:
bool([])

False

# 집합 자료형 set